<!-- Edit form -->



<div class="container" data-bind="slideVisible: ['new', 'edit'].indexOf(mode()) != -1, afterIn: afterFormIn, afterOut: afterFormOut">
    <div class="row breadcrumb-content">
        <div class="col-sm-6" style="padding-left:0px;">
            <ul class="breadcrumbs">
                <li><a href="~/"><i class="fa fa-home"></i> Inicio</a></li>
                <li><a href="#" data-bind="click:cancel">Sitios</a></li>
                <li><span data-bind="text: mode() == 'new' ? 'Nuevo' : 'Edición'"></span></li>
            </ul>
        </div>
    </div>
    <div data-bind="errorBox:['new', 'edit'].indexOf(mode()) != -1"></div>

    <!--ko with:Site-->
    <form data-bind="submit: $root.save" data-abide novalidate id="edit-form">
        <div class="row">
            <div class="col-sm-12 tit-page-edit">SITIOS</div>
            <div class="medium-10 columns">
                <div class="row">
                    <div class="medium-10 columns">
                        <div class="row">
                            <div class="medium-6 columns" style="padding-left:0px;">
                                <label>
                                    Nombre
                                    <input data-bind="textInput: Name, hasFocus: $root.nameFocus" type="text" maxlength="150" required />
                                    <span class="form-error">
                                        Debe ingresar un nombre
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-6 columns" style="padding-left:0px;">
                                <label>
                                    Codigo
                                    <input data-bind="textInput: Code" type="text" maxlength="150" />
                                </label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="medium-6" style="padding-left:0px;">
                                <label>
                                    Descripcion
                                    <input data-bind="textInput: Description" type="text" maxlength="255" required />
                                    <span class="form-error">
                                        Debe ingresar una descripcion
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-3 columns" style="padding-left:0px;">
                                <label>
                                    Color
                                    <div>
                                        <!-- ko foreach: Colors -->
                                        <div data-bind="attr:{class: 'col-sm-3 color' + Name() + '-fondo color-cuadrado text-center' }">
                                            <input type="radio" name="color" data-bind="checked: $parents[0].Color, checkedValue: Id"><br /><label for="color" data-bind="text:Name" class="label-radio"></label>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <span class="form-error">
                                        Debe seleccionar un color
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="medium-2 columns">
                <button type="submit" class="button expanded action-button ok"><i class="fa fa-check"></i> Aceptar</button>
                <a href="#" data-bind="click:$root.cancel" class="button expanded action-button cancel"><i class="fa fa-remove"></i> Cancelar</a>
            </div>
        </div>
    </form>
    <!--/ko-->
</div>

<!-- list -->
<div class="container" data-bind="slideVisible: ['list'].indexOf(mode()) !== -1">
    <div class="row breadcrumb-content">
        <div class="col-sm-6" style="padding-left:0px;">
            <ul class="breadcrumbs">
                <li><a href="~/"><i class="fa fa-home"></i> Inicio</a></li>
                <li>Sitios</li>
            </ul>
        </div>
        <div class="medium-6 column text-right">
            <a href="#" data-bind="click:newSite" class="button action-button">Nuevo</a>
        </div>
    </div>

    <div class="row column">
        <div data-bind="errorBox: mode() == 'list'"></div>
        <div data-bind="alerts: alerts"></div>
    </div>
    <div class="row tit-page">SITIOS</div>
    <div class="row table-header">
        <div class="medium-3 column">Nombre</div>
        <div class="medium-3 column">Codigo</div>
        <div class="medium-3 column">Descripcion</div>
        <div class="medium-1 column">Color</div>
        <div class="medium-2 column">&nbsp;</div>
    </div>

    <!-- ko foreach: Sites -->
    <div class="row table-data">
        <div class="medium-3 column"><div data-bind="text: Name"></div></div>
        <div class="medium-3 column"><div data-bind="notEmptyText: Code"></div></div>
        <div class="medium-3 column"><div data-bind="text: Description"></div></div>
        <div class="medium-1 column"><div data-bind="attr:{ 'class': 'col-sm-3 color' + Color() + '-fondo' }">&nbsp;</div></div>
        <div class="medium-2 column text-right">
            <ul class="menu">
                <li><a href="#" data-bind="click:$root.edit" title="Editar"><i class="fa fa-list"></i></a></li>
                <li><a href="#" data-bind="click:$root.delete" title="Eliminar"><i class="fa fa-trash"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- /ko -->

    <pager params="ViewModel: Pager"></pager>
</div>

@section scripts {
    <script src="~/Scripts/Views/sites.js"></script>
    @RenderPage("~/Views/Components/_Pager.cshtml")
}


