<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultDesa" connectionString="Data Source=10.120.56.118;Initial Catalog=ETLAutomatizacion;User ID=sa;Password=Fr33T1mE;"/>
    <add name="Default" connectionString="Data Source=10.120.50.10;Initial Catalog=ETLAutomatizacion;User ID=BizagiProduccion;Password=BizagiProduccion;"/>
  </connectionStrings>
  <appSettings>
    <add key="storeName" value="spGetNewRequestWAP"/>
    <add key="storeNameOutParameter" value="oNovedad"/>
    <add key="dominio" value="domain"/>  
    <add key="usuarioDesa" value="admon"/>
    <add key="usuario" value="administrador"/>
    <add key="procesoBIZ" value="WAP_CRON_Dispatcher"/>
    <add key="BizagiUrlDesa" value= "http://10.120.56.116/DESARROLLO2/WebServices/WorkflowEngineSOA.asmx?op=createCases"/>
    <add key="BizagiUrl" value= "http://10.120.57.37/PRODUCCION/WebServices/WorkflowEngineSOA.asmx?op=createCases"/>
    <add key="intervaloPooling" value="300000"/>
    <add key="archivoLog" value="\\LogFileWAP.txt"/>
  </appSettings>
</configuration>