<div data-bind="errorBox:true"></div>
<form data-bind="submit: save" data-abide novalidate id="edit-form" class="container-background-tablero">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center titRegistro">
            <span class="titPortalRegistro">Portal de Monitoreo de Procesos</span><br />
            <span class="textPortal">CAMBIAR CONTRASEÑA</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 spaceRegister">
            
                <input placeholder="Contraseña actual" class="form-control" data-bind="textInput: CurrentPassword" type="password" autofocus required />
                <span class="form-error">
                    Ingrese la contraseña actual
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 spaceRegister">
           
                <input placeholder="Nueva contraseña" class="form-control" data-bind="textInput: NewPassword" type="password" required />
                <span class="form-error">
                    Ingrese la nueva contraseña
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 spaceRegister">
           
                <input placeholder="Confirme la nueva contraseña" class="form-control" data-bind="textInput: ConfirmNewPassword" type="password" required />
                <span class="form-error">
                    Confirme la nueva contraseña
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <button type="submit" class="buttonRegister action-button ok"><i class="fa fa-check"></i> Aceptar</button>
            <a href="#" data-bind="click:cancel" class="buttonRegister action-button cancel"><i class="fa fa-remove"></i> Cancelar</a>
        </div>
    </div>
</form>
@section scripts {
    <script src="~/Scripts/Views/changePassword.js"></script>
}


