@{
    ViewBag.Title = "Portal Tableau";
    Layout = "../Shared/_LayoutPublic.cshtml";
}

<form data-bind="submit: save" data-abide novalidate id="edit-form" class="">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center titRegistro">
            <span class="titPortalRegistro">Portal de Monitoreo de Procesos</span><br />
            <span class="textPortal">RESTABLECER USUARIO</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 spaceRegister">
                          
                <input placeholder="Correo electrónico" class="form-control"  data-bind="textInput: Email" type="text" pattern="email" maxlength="50" autofocus required />
                <span class="form-error">
                    Ingrese su correo electrónico
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <button type="submit" class="buttonRegister action-button ok"><i class="fa fa-check"></i> Restablecer</button>
            <a href="#" data-bind="click:goToHome" class="buttonRegister action-button cancel"><i class="fa fa-remove"></i> Cancelar</a>
        </div>
    </div>
</form>
@section scripts {
    <script src="~/Scripts/Views/resetPassword.js"></script>
}


